{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Student Dashboard{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">
    <nav class="fixed left-0 h-full w-20 bg-white shadow-lg flex flex-col items-center py-4 mx-5">
        {% block menu %}
        
        {% endblock %}
        <a href="{% url 'logout'%}" class="p-3 rounded-lg hover:bg-purple-100 mt-auto">
            <svg class="w-6 h-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                <polyline points="16 17 21 12 16 7" />
                <line x1="21" y1="12" x2="9" y2="12" />
            </svg>
        </a>
    </nav>
    <div class="ml-20">
        {% include '_topbar.html' %}
        <main class="p-8">
            {% block content %}{% endblock %}
        </main>
    </div>
    <script>
        {% block script %}
        {% endblock %}
    </script>
</body>
</html>